@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  /* primary */

  --primary-100: #e0deff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  /* main */
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest */
  --primary-design: #ff8e3c;
  --black-design: #0d0d0d;
  --grey-design: #eff0f3;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;
  /* rest */
  --backgroundColor: var(--white);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.img {
  width: 100%;
  display: block;
}
h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*************
     Buttons 
*************/
button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--white);
  background: var(--primary-500);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
}
button:hover,
.btn:hover {
  color: var(--white);
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
}
button.small {
  padding: 0.25rem 0.5rem;
  font-size: var(--smallText);
}
button.hipster {
  color: var(--primary-500);
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
}
button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}
button.block {
  width: 100%;
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: 40vh;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.hero img {
  display: none;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .hero {
    min-height: 60vh;
  }
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
  }
  .hero img {
    display: block;
  }
}
.hero-title h1 {
  color: var(--black-design);
  margin: 0;
  letter-spacing: 2px;
}
.hero-title p {
  margin: 2rem 0;
  color: var(--grey-900);
  font-size: 1.25rem;
}
.hero-title span {
  letter-spacing: 5px;
  border-bottom: 2px solid var(--primary-design);
  margin: 0 0.5rem;
  text-align: center;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  font-style: italic;
  font-weight: 600;
}
.hero-btn {
  display: inline-block;
  background: var(--primary-design);
  color: var(--black-design);
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;

  box-shadow: var(--shadow-1);
  animation: bounce 2s infinite;
}
.hero-btn:hover {
  background: var(--primary-design);
  box-shadow: var(--shadow-2);
}

/*
=============== 
Title
===============
*/
.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--primary-design);
  margin: 0 auto;
  margin-top: -1rem;
}
/*
=============== 
Section
===============
*/
.section {
  padding: 5rem 0;
  background: var(--grey-50);
}
.section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto 2rem auto;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

@media screen and (min-width: 992px) {
  .center {
    width: 95vw;
  }
}

/*
=============== 
Project
===============
*/
.project {
  border-radius: var(--borderRadius);
  background: var(--white);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}
.project:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-2);
}
.project img {
  width: 100%;
  display: block;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  height: 15rem;
  object-fit: cover;
}

.project footer {
  text-align: center;
  padding: 1.5rem 2rem;
}
.project footer h4 {
  margin-bottom: 0;
  color: var(--grey-900);
}

/*
=============== 
Animation
===============
*/
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-img-2 {
  width: 350px;
  margin-left: 20rem;
}
